<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="/science-education.gif" alt="Livro com uma representação de átomo saindo dele"
                class="img-fluid w-25">
            <h1 class="display-1">BiblioTech</h1>

            <div class="d-flex justify-content-center gap-3 mt-5">
                <button class="btn btn-roxo btn-lg px-4 py-2">
                    Registrar-se
                </button>

                <button class="btn btn-dourado btn-lg px-4 py-2">
                    Entrar
                </button>
            </div>

        </div>
    </div>
</div>