<div class="card card-body p-4 m-5 shadow">

    <h2 class="text-roxo fw-bold">Cadastro de Livros</h2>

    <p class="fs-5">Preencha os campos para cadastrar um livro:</p>
    <hr>


    <form>

        <div class="form-floating mb-3 ">
            <input formControlName="nome" class="form-control" type="text" placeholder="">
            <label for="">Informe o nome do livro:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="nome" class="form-control" type="text" placeholder="">
            <label for="">Informe a editora:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="nome" class="form-control" type="text" placeholder="">
            <label for="">Informe o autor:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="nome" class="form-control" type="number" placeholder="">
            <label for="">Informe a quantidade em estoque:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="nome" class="form-control" type="number" placeholder="">
            <label for="">Informe a quantidade de páginas:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="nome" class="form-control" type="number" placeholder="">
            <label for="">Informe o ano da edição:</label>

        </div>

        <div class="form-floating mb-3 ">

            <select class="form-select" aria-label="Default select example">
                <option selected disabled>Selecione o tipo:</option>
                <option value="1">Capa mole</option>
                <option value="2">Capa dura</option>
                <option value="3">Ebook</option>
            </select>
            <label for="">Tipo do livro</label>

        </div>

        <div class="form-floating mb-3 ">
            
            <select class="form-select" aria-label="Default select example">
                <option selected disabled>Selecione o gênero:</option>
                <option value="1">Ficção</option>
                <option value="2">Fantasia</option>
                <option value="3">Romance</option>
                <option value="4">Terror</option>
                <option value="5">HQ</option>
                <option value="6">Autoajuda</option>
                <option value="7">Religião</option>
                <option value="8">Sociologia</option>
                <option value="9">Filosofia</option>
                <option value="10">Suspense</option>
            </select>
            <label for="">Gênero do livro</label>

        </div>

        <div class="mb-3">
            <input type="submit" value="Realizar Cadastro" class="btn btn-outline-success">
        </div>

    </form>

</div>
