<div class="card card-body p-4 m-5 sombra-roxa">

    <h2 class="text-roxo fw-bold">Cadastro de Livros</h2>

    <p class="fs-5">Preencha os campos para cadastrar um livro:</p>
    <hr>


    <form [formGroup]="formulario" (ngSubmit)="cadastrar()" class="">

        <div class="form-floating mb-3">
            <input formControlName="nome" class="form-control" type="text" placeholder="">
            <label for="">Informe o nome do livro:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="editora" class="form-control" type="text" placeholder="">
            <label for="">Informe a editora:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="autor" class="form-control" type="text" placeholder="">
            <label for="">Informe o autor:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="quantidade" class="form-control" type="number" placeholder="">
            <label for="">Informe a quantidade em estoque:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="quantidadePaginas" class="form-control" type="number" placeholder="">
            <label for="">Informe a quantidade de páginas:</label>

        </div>

        <div class="form-floating mb-3 ">
            <input formControlName="anoEdicao" class="form-control" type="number" placeholder="">
            <label for="">Informe o ano da edição:</label>

        </div>

        <div class="form-floating mb-3 ">

            <select formControlName="tipoLivro" class="form-select">
                <option [ngValue]="0" disabled>Selecione o tipo:</option>
                <option [ngValue]="1">Capa mole</option>
                <option [ngValue]="2">Capa dura</option>
                <option [ngValue]="3">Ebook</option>
            </select>
            <label for="">Tipo do livro</label>

        </div>

        <div class="form-floating mb-3 ">

            <select formControlName="generoLivro" class="form-select">
                <option [ngValue]="0" disabled>Selecione o gênero:</option>
                <option [ngValue]="1">Ficção</option>
                <option [ngValue]="2">Fantasia</option>
                <option [ngValue]="3">Romance</option>
                <option [ngValue]="4">Terror</option>
                <option [ngValue]="5">HQ</option>
                <option [ngValue]="6">Autoajuda</option>
                <option [ngValue]="7">Religião</option>
                <option [ngValue]="8">Sociologia</option>
                <option [ngValue]="9">Filosofia</option>
                <option [ngValue]="10">Suspense</option>
            </select>
            <label for="">Gênero do livro</label>

        </div>

        <div class="mb-3 text-center">
            <input type="submit" value="Realizar Cadastro" class="btn btn-roxo btn-lg px-5">
        </div>

    </form>

</div>