* {
    font-family: Montserrat, Helvetica, sans-serif;
}

main {
    height: 100.vh;
}

.bg-roxo {
    background-color: #2b0a3d;
}

.text-roxo {
    color: #2b0a3d
}

.btn-roxo {
    background-color: #2b0a3d !important;
    border-color: #2b0a3d !important;
    color: white !important;
}

.btn-roxo:hover {
    background-color: #4a1480 !important;
    border-color: #4a1480 !important;
    color: white !important;
}



.btn-dourado {
    background-color: #f2c94c !important;
    border-color: #f2c94c !important;
    color: black !important;
}

.btn-dourado:hover {
    background-color: #ffd166 !important;
    border-color: #ffd166 !important;
    color: black !important;
}